.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #579fcf;
}

ul.topnav li {
  float: left;
}

#link {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

#link:hover {
  background-color: #2578af;
}

#link:active {
  background-color: #2578af;
}

#link:active {
  background-color: #2578af;
}
